<div>
  <div>
    <h4>Añada un usuario</h4>
  </div>

  <div class="user-creation">
    <div>
      <div class="labels">
        <label for="firstName">Nombre </label>
        <label for="lastName">Apellido </label>
      </div>
    </div>
    <div class="inputs">
      <input type="text" class="form-control" id="firstName"
             required
             [(ngModel)]="user.firstName" name="name">
      <input type="text" class="form-control" id="lastName"
             required
             [(ngModel)]="user.lastName" name="name">
    </div>
  </div>

  <div>
    <button type="button" (click)="onClickUser()">Crear usuario</button>
  </div>
</div>


