<h4>Añada un pago</h4>

<div class="payment-creation">
  <div>
    <div class="payment-labels">
      <label for="user">¿Quién ha pagado? </label>
      <label for="value">Descripción </label>
      <label for="description">Cantidad </label>
      <label for="description">Usuarios a pagar </label>
    </div>
  </div>
  <div class="payment-inputs">
    <select [(ngModel)]="payment.user" id="user">
      <option *ngFor="let user of users |async" [ngValue]="user">{{user.firstName}} {{user.lastName}}</option>
    </select>
    <input type="text" class="form-control" id="description"
           required
           [(ngModel)]="payment.description" name="description">
    <input type="number" class="form-control" id="value"
           required
           [(ngModel)]="payment.value" name="value" step='0.01' value='0.00' placeholder='0.00'>
    <select multiple [(ngModel)]="payment.usersToPay" id="multiple">
      <option *ngFor="let user of users | async" [ngValue]="user">{{user.firstName}}</option>
    </select>
  </div>
</div>

<div class="payment-creation">

</div>
<div class="form-group">


</div>
<div class="form-group">


</div>

<div>
  <div>

  </div>

  <button type="button" (click)="onClickPayment()">Introducir pago</button>
</div>

