.title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.left-content {
  width: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
